@model CookieTest.Models.CookiesModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>Cookie List</th>
        </tr>    
    @foreach (var item in Model.CookieKeys) {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
